<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course data </title>
</head>
<body>
    <table border = "2" id = "course-details-table">
        <tr>
            <th>Average Marks</th>
            <th>Maximum Marks</th>
        </tr>
        <tr>
            <th>{{ avg_marks }}</th>
            <th>{{ max_marks }}</th>
        </tr>
    </table>
    <br>
   <img src="{{ url_for('static', filename='histogram.png') }}" alt="Histogram">

    <br>
    <a href="/">Go back</a>
   
</body>
</html>